[Unit]
Description=DarkIce live audio streamer
Documentation=http://www.darkice.org/ man:darkice(1) man:darkice.cfg(5)
After=icecast.service network-online.target sound.target
Requires=sound.target
Wants=icecast.service network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/darkice -v3 -c /etc/darkice.cfg
ExecStop=/usr/bin/pkill darkice
Restart=always
RestartSec=1
StartLimitInterval=0

# DarkIce uses POSIX real-time scheduling to keep up with sound card input.
# Let systemd change the CPU scheduler policy and priority beforehand, so that
# root privilegs can be avoided.
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=4

[Install]
WantedBy=multi-user.target

